$font-color: #403c3d;
$main-color: #74975b;
$main-color2: #597744;
$bg-color: #efefef;
$border-color2: #969696;
/* @font-face {
    font-family: 'foncik';
    src: url('~@/fonts/InknutAntiqua-Regular.ttf') format('truetype');
  }*/