$font-color: #403c3d;
$grey-color: #F2F2F2;
$border-color: #dadada;
$border-color2: #969696;
/* @font-face {
    font-family: 'foncik';
    src: url('~@/fonts/InknutAntiqua-Regular.ttf') format('truetype');
  }*/